<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<h4>
				Project source code is free for usage and available online on <a href="https://github.com/hknezevic/TestBundle">Github</a>
			</h4>
		</div>
		<div class="col-lg-3 text-right">
			<h4><strong>Contact info</strong></h4>
			<p>Hrvoje Knežević</p>
			<p><strong>Email: </strong> hrvoje.k@netgen.hr</p>
			<p><strong>Twitter: </strong>@hknezevic</p>
			<p><a href="http://netgenlabs.com">Netgen Ltd.</a></p>
		</div>
	</div>
</div>
