{% extends 'NetgenTestBundle::page.html.twig' %}

{% block title %}
    <title>Home - Netgen Test Bundle</title>
{% endblock %}

{% block body %}

	<h1>Netgen Test homepage</h1>

	<p>This is a Netgen Symfony demo project home page</p>

	<p>It is used for demonstrating the process of building a website using Symfony 2 MVC</p>

	<p>Check out the related blog posts:</p>

	<ul>
		<li><a href="http://www.netgenlabs.com/Blog/Symfony2-MVC-part-1-Model">Symfony2 MVC - part 1: Model</a></li>
		<li><a href="http://www.netgenlabs.com/Blog/Symfony2-MVC-part-2-Controller">Symfony2 MVC - part 2: Controller</a></li>
		<li>"Part 3: View" is on the way, stay tuned :)</li>
	</ul>

	<p>... or feel free to browse the <a href="https://github.com/hknezevic/TestBundle">project code</a> on Gitub.

{% endblock %}
