<form method="post" action="{{ path('netgen_test_user_add') }}">
    <div>
        <span>First name:</span>
        <input type="text" name="firstName" value="" />
    </div>
    <div>
        <span>Last name:</span>
        <input type="text" name="lastName" value="" />
    </div>
    <div>
        <span>Username:</span>
        <input type="text" name="username" value="" />
    </div>
    <div>
        <span>Email:</span>
        <input type="text" name="email" value="" />
    </div>
    <div>
        <button type="submit" name="Submit">Submit</button>
    </div>
</form>